<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HCC Coleman Connection | New Features</title>
    <link rel="stylesheet" href="/assets/emails/email.css" type="text/css" charset="utf-8">
	</head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  	<center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
          <td align="center" valign="top">
            <!-- // Begin Template Preheader \\ -->
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader">
              <tr>
                <td valign="top" class="preheaderContent">
                  <!-- // Begin Module: Standard Preheader \ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                      <td valign="top">
                        <div mc:edit="std_preheader_content">
                          Do not reply to this message. This account is not monitored by human beings.
                        </div>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Module: Standard Preheader \ -->
                </td>
              </tr>
            </table>
            <!-- // End Template Preheader \\ -->
            
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                    <tr>
                      <td class="headerContent">
                        <%= image_tag "#{root_url}assets/email_banner.jpg", size: '600' %>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="600">
                          <tr>
                            <td valign="top" class="bodyContent">
                              <!-- // Begin Module: Standard Content \\ -->
                              <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                <tr>
                                  <td valign="top">
                                    <div mc:edit="std_content00">
                                      <h3 class="h3 primary-header">Fresh New Features</h3>
                                      <p>
                                        Hi <%= @recipient.first_name %>,
                                      </p>
                                      <p>
                                        We have been getting a lot of great feedback about features we can add
                                        to Coleman Connection. One of those suggestions was to create a means for
                                        program session attendees to give us some feedback
                                        on their experience. We are really excited to announce that this has officially
                                        gone live!
                                      </p>
                                      
                                      <p>
                                        Each Tuesday following a program session, emails will be sent out to the candidates
                                        that were marked as attended. This email contains 3 different "quick responses"
                                        that the attendee can select: Great, Okay, or Bad.
                                      </p>
                                      
                                      <p class='center'>
                                        <%= image_tag "#{root_url}assets/emails/survey_email.png", size: '300' %>
                                      </p>
                                      
                                      <p>
                                        Once they select the response
                                        they feel best represents their experience, they will be encouraged to leave
                                        additional comments.
                                      </p>
                                      
                                      <p class='center'>
                                        <%= image_tag "#{root_url}assets/emails/survey_comments.png", size: '300'  %>
                                      </p>
                                      
                                      <p>
                                        These responses are completely anonymous and are not tied to the attendee
                                        in any way. By offering a confidential survey, we are hoping to receive more candid
                                        feedback about candidates' satisfaction with our program sessions.
                                      </p>
                                      
                                      <p>
                                        You, as the faculty or staff for the program, will be able to see the results
                                        of these surveys by viewing the details for a particular date. A new link has
                                        been added to the navigation on the left-side of the screen labeled "Happiness Results".
                                        Here, you are able to see very quickly how happy candidates were with the program session they attended.
                                      </p>
                                      
                                      <p class='center'>
                                        <%= image_tag "#{root_url}assets/emails/survey_results.png", size: '300' %>
                                      </p>
                                      
                                      <p>
                                        If you notice a speech bubble above the smiley,
                                        it means a candidate added comments to their response. Just place your mouse over that
                                        smiley and the comment will be displayed.
                                      </p>
                                      
                                      <h3 class="h3 primary-header">What does this mean for you?</h3>
                                      
                                      <p>
                                        <span style='font-weight: bold; color: red;'>It is incredibly important</span> that you are marking attendance for your program sessions.
                                        Not only will this determine who will receive the survey emails, but it will give your
                                        program credit for the number of people you contact during these sessions.
                                      </p>
                                      
                                      <p>
                                        That's all for now, but rest assured, we are already hard at work on the next
                                        set of features. If you have comments or suggestions please don't hesitate to
                                        <%= mail_to 'terry.schmidt@hccs.edu', 'give us feedback' %>. Have a great day!
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <!-- // End Module: Standard Content \\ -->
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                    <tr>
                      <td valign="top" class="footerContent">

                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td valign="middle" id="social">
                              <div mc:edit="std_social">
                                &nbsp;<%= link_to 'Follow us on Twitter', 'https://twitter.com/#!/HCC_Coleman' %> | <%= link_to 'Like us on Facebook', 'https://www.facebook.com/HCCColemanCollege' %> | <%= link_to 'Log into your account', new_user_session_url %>&nbsp;
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" width="350">
                              <div class='copyright' mc:edit="std_footer">

                                <strong>HCC Coleman College for Health Sciences</strong><br />
                                1900 Pressler St<br />
                                Houston, TX &nbsp;&nbsp; 77030<br />
                                <%= mail_to 'studentsfirst@hccs.edu' %>
                                <br />
                                <br />
                                <em>Copyright &copy; <%= Date.today.year %> HCC Coleman College for Health Sciences, All rights reserved.</em>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Footer \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->
                </td>
              </tr>
            </table>
            <br />
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>