<h1>Where would you like to go?</h1>

<div class='row dashbaord'>
  <!-- Personal Information -->
  <div class='span4'>
    <div class='well well-information well-transform-container'>
      <h2 class='headline-underlined'>Personal Information</h2>
      <p>
        Here you can...
      </p>
      <ul>
        <%= content_tag :li, link_to('update your information', edit_account_settings_path(:account)) %>
        <%= content_tag :li, link_to('change your password', edit_account_settings_path(:password)) %>
        <%= content_tag :li, link_to('cancel your account') %>
      </ul>
      <b class='well-transformer'></b>
    </div>
  </div>
  <!-- end Personal Information -->
  
  <!-- Program Sessions -->
  <div class='span4'>
    <div class='well well-session well-transform-container'>
      <h2 class="headline-underlined">Program Sessions</h2>
      <p>
        Here you can...
      </p>
      <ul>
        <%= content_tag :li, link_to('manage active sessions', candidate_program_sessions_path) %>
        <%= content_tag :li, link_to('register for a session', new_candidate_program_session_path) %>
      </ul>
      <b class='well-transformer'></b>
    </div>
  </div>
  <!-- end Program Sessions -->
  
  <!-- Program Sessions -->
  <div class='span4'>
    <div class='well well-application well-transform-container coming-soon'
         rel='popover' data-title='Applying to a Program'
         data-placement="left"
         data-content="We are working on creating an online application process to make it even easier for you to apply to one of our outstanding programs. Unfortunately, we haven't quite worked out all the kinks yet. But not to worry, you can still apply the old fashioned way by dropping by the college and filling out a paper application.">
      <h2 class='headline-underlined'>Apply to a Program</h2>
      <p>
        Submit or manage applications for any of our programs. You can check the
        status, submit required documents or correspond with our helpful staff.
      </p>
      <b class='well-transformer'></b>
    </div>
  </div>
  <!-- end Program Sessions -->
</div>