<%= simple_form_for(current_user, as: :user, url: update_account_settings_path(current_user),
    html: { class: 'form-horizontal'}) do |f| %>
  <header>
    <h1>Demographic Information</h1>
    <h2 class="metadata">Update information pertaining specifically to you.</h2>
  </header>
  
  <fieldset>
    <%= hidden_field_tag :section, params[:section] %>
    <%= f.error_notification %>
    
    <%= f.simple_fields_for :demographic do |demographic_fields| %>
      <%= demographic_fields.input :address, :required => true, :label => "Street Address" %>
      <%= demographic_fields.input :city, :required => true %>
      <%= demographic_fields.input :state, :required => true, collection: UnitedStates::STATES %>
      <%= demographic_fields.input :zip, :required => true %>
      <hr/>
      <%= demographic_fields.input :home_phone %>      
      <%= demographic_fields.input :mobile_phone %>    
      <hr/>  
      <%= demographic_fields.input :gender, collection: ['Male', 'Female'] %>
      <%= demographic_fields.input :age_group, collection: Demographic::AGE_GROUPS %>
    <%- end -%>
  </fieldset>
  <div class='form-actions boxed-in'>
    <%= f.button :submit, 'Update' %> or <%= link_to 'return to the dashboard', students_root_path %>
  </div>
<%- end -%>