<%= simple_form_for(current_user, as: :user, url: update_account_settings_path(current_user), 
    :html => { :class => 'form-horizontal' }) do |f| %>
  <header>
    <h1>Password</h1>
    <h2 class="metadata">Tired of your old password? Here you can set up a new one.</h2>
  </header>
  
  <fieldset>
    <%= hidden_field_tag :section, params[:section] %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :password, :label => "New password", :required => true %>
      <%= f.input :password_confirmation, :label => "Verify password", :required => true %>
    </div>
    
    <p class="alert alert-info">
      <strong>Attention!</strong>
      You will be logged out and asked to log back in once the new password is accepted.
      This step is performed to ensure your security after your password has been updated.
    </p>
  </fieldset>
  <div class='form-actions boxed-in'>
    <%= f.button :submit, 'Update' %> or <%= link_to 'return to the dashboard', students_root_path %>
  </div>
<%- end -%>