<div class='collapse-group'>
  <div class='collapse-heading'>
    <%= link_to 'Addresses', '#', class: 'collapse-toggle', data: { toggle: 'collapse', target: ".collapse-addresses" } %>
  </div>
  <div class='collapse collapse-addresses'>
    <div class='collapse-content'>
      
      <div class='tabbable tabs-left'>
        <ul class='nav nav-tabs'>
          <li class='active'><%= link_to 'Home', "#home_address", data: { toggle: 'tab'} %></li>
          <li><%= link_to 'Mailing', "#mailing_address", data: { toggle: 'tab'} %></li>
          <li><%= link_to 'Permanent', "#permanent_address", data: { toggle: 'tab'} %></li>
        </ul>
        <div class='tab-content'>
          <div class='tab-pane active' id='home_address'>
            <table class='table table-bordered table-striped'>
              <tbody>
                <tr>
                  <td class='attr'>Street</td>
                  <td><%= @peoplesoft_candidate.home_address %></td>
                </tr>
                <tr>
                  <td class='attr'>City</td>
                  <td><%= @peoplesoft_candidate.home_city %></td>
                </tr>
                <tr>
                  <td class='attr'>State</td>
                  <td><%= @peoplesoft_candidate.home_state %></td>
                </tr>
                <tr>
                  <td class='attr'>Zip</td>
                  <td><%= @peoplesoft_candidate.home_postal %></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class='tab-pane' id='mailing_address'>
            <table class='table table-bordered table-striped'>
              <tbody>
                <tr>
                  <td class='attr'>Street</td>
                  <td><%= @peoplesoft_candidate.mailing_address %></td>
                </tr>
                <tr>
                  <td class='attr'>City</td>
                  <td><%= @peoplesoft_candidate.mailing_city %></td>
                </tr>
                <tr>
                  <td class='attr'>State</td>
                  <td><%= @peoplesoft_candidate.mailing_state %></td>
                </tr>
                <tr>
                  <td class='attr'>Zip</td>
                  <td><%= @peoplesoft_candidate.mailing_postal %></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class='tab-pane' id='permanent_address'>
            <table class='table table-bordered table-striped'>
              <tbody>
                <tr>
                  <td class='attr'>Street</td>
                  <td><%= @peoplesoft_candidate.permanent_address %></td>
                </tr>
                <tr>
                  <td class='attr'>City</td>
                  <td><%= @peoplesoft_candidate.permanent_city %></td>
                </tr>
                <tr>
                  <td class='attr'>State</td>
                  <td><%= @peoplesoft_candidate.permanent_state %></td>
                </tr>
                <tr>
                  <td class='attr'>Zip</td>
                  <td><%= @peoplesoft_candidate.permanent_postal %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>