<div class='collapse-group'>
  <div class='collapse-heading'>
    <%= link_to 'Personal Details', '#', class: 'collapse-toggle', data: { toggle: 'collapse', target: ".collapse-personal-details" } %>
  </div>
  <div class='collapse collapse-personal-details'>
    <div class='collapse-content'>
      <table class='table table-bordered table-striped'>
        <tbody>
          <tr>
            <td class='attr'>Name</td>
            <td><%= @details[:first_name] + ' ' + @details[:last_name] %></td>
          </tr>
          <tr>
            <td class='attr'>HCC Student ID</td>
            <td><%= @details[:emplid] %></td>
          </tr>
          <tr>
            <td class='attr'>Gender</td>
            <td><%= @details[:sex] %></td>
          </tr>
          <tr>
            <td class='attr'>Ethnicity</td>
            <td><%= @details[:h_ethnic_grp_list] %></td>
          </tr>
          <tr>
            <td class='attr'>Citizenship</td>
            <td><%= @details[:citizenship_status] %> - <%= @peoplesoft_candidate.citizenship %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>