<div class='row'>
  <div class='span4'>
    <div class='padded'>
      <ul class='nav nav-tabs nav-stacked'>
        <%- ProgramOfferings.programs.each do |name| -%>
        <li><a href='#<%= name %>'><%= name %></a></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  
  <div class='span8'>
    <div class='padded'>
      <header>
        <h1 class='page-header'>Attendance by Program <small>since February 20th, 2012</small></h1>
      </header>

      <% ProgramDate.all_with_attendance.where(occurs_on: Chronic.parse('February 1st, 2012')..Date.today).group_by(&:program).sort.each do |program_name, days| %>
      <span id="<%= program_name %>"></span>
      <h2><%= program_name %></h2>
      <table class='table table-bordered'>
        <tr>
          <th>Date</th>
          <th>Attended</th>
          <th>Not Attended</th>
          <th>Total</th>
        </tr>
        <%- days.each do |day| -%>
        <tr>
          <td><%= day.occurs_on.to_formatted_s(:pretty) %></td>
          <td><%= day.sessions_attended %></td>
          <td><%= day.sessions_not_attended %></td>
          <td><%= day.sessions.count %></td>
        </tr>
        <%- end -%>
      </table>
      <%- end -%>
    </div>
  </div>
</div>