<div class='row'>
  <div class='span4'>
    <div class='padded'>
      <ul class='nav nav-tabs nav-stacked'>
        <%- Program.where(name: current_user.affiliated_programs).select(:name).order(:name).each do |program| -%>
        <li><a href='#<%= program.name %>'><%= program.name %></a></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  
  <div class='span8'>
    <div class='padded'>
      <header>
        <h1 class='page-header'>Attendance by Program <small>since February 20th, 2012</small></h1>
      </header>

      <% ProgramDate.joins(:program).all_with_attendance.where(occurs_on: Chronic.parse('February 1st, 2012')..Date.today, program: { name: current_user.affiliated_programs }).group_by(&:program).sort_by {|program, opts| program.name}.each do |program, days| %>
      <span id="<%= program.name %>"></span>
      <h2><%= program.name %></h2>
      <table class='table table-bordered'>
        <tr>
          <th>Date</th>
          <th>Attended</th>
          <th>Not Attended</th>
          <th>Total</th>
        </tr>
        <%- days.each do |day| -%>
        <tr>
          <td><%= day.occurs_on.to_formatted_s(:pretty) %></td>
          <%- if day.no_attendance? -%>
          <td colspan=3>This session was marked as having no attendance</td>
          <%- else -%>
          <td><%= day.sessions_attended %></td>
          <td><%= day.sessions_not_attended %></td>
          <td><%= day.sessions.count %></td>
          <%- end -%>
        </tr>
        <%- end -%>
        <tr class='alt'>
          <td colspan=4>To date, <strong><%= days.sum{|d| d.sessions_attended.to_i} %></strong> out of <strong><%= days.sum{|d| d.sessions.count} %></strong> potential students have attended program sessions for <%= program.name %>.</td>
        </tr>
      </table>
      <%- end -%>
    </div>
  </div>
</div>