<div class='row'>
  <div class='span4'>
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "#{@user.name}'s Account Details", '#', class: 'active' %></li>
      </ul>
    </div>
    
    <%- if current_user.can?(:view, Employee.new) -%>
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "View user list", employee_users_path %></li>
      </ul>
    </div>
    <%- end -%>
  </div>
  
  <div class="span8">
    <section class="boxed boxed-main form-container">
      <%= simple_form_for @user, url: employee_user_path(@user) do |f| %>
        <header>
          <h1>
            Edit Account Details
          </h1>
        </header>
        
        <fieldset>
          <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <hr>
          <%= f.input :email %>
          <% if @user == current_user %>
          <hr>
          <p class='alert alert-info'>
            If you change your password you will be logged out and asked to log back in. This will ensure that the
            password is updated correctly. 
          </p>
          <%= f.input :password, label: 'New Password' %>
          <%= f.input :password_confirmation, label: 'Confirm New Password' %>
          <%- end -%>
        </fieldset>
        
        <div class='form-actions'>
          <%= f.button :submit, "Update Account" %> or <%= link_to "go to the dashboard", employee_root_path %>
        </div>
      <%- end -%>
    </section>
  </div>
</div>