<div class='row'>
  <div class='span4'>
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "Show Active Users", employee_users_path, class: ('active' unless params[:active] || params[:q]) %></li>
        <li><%= link_to "Show Inactive Users", employee_users_path(active: false), class: ('active' if params[:active] && !params[:q]) %></li>
        <%= content_tag :li, link_to("Search results for '#{params[:q]}'", '#', class: 'active') if params[:q] %>
      </ul>
    </div>
    
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "Add New User", new_employee_user_path %></li>
      </ul>
    </div>
  </div>
  
  <div class="span8">
    <div class="boxed-main">
      <header>
        <h1>
          <%= params[:active] ? "Inactive" : "Active" %> Users List
          <%= render 'common/search_form' %>
        </h1>
      </header>
      <ol class="menu menu-list">
        <%= render partial: 'user', collection: @users, as: :user, locals: { title: 'Test' } %>
      </ol>
    </div>
    <%= will_paginate @users, class: 'pagination pagination-centered' %>
  </div>
</div>