<section class='quiz-container'>
  <h2>Why HCC Coleman College is the right choice</h2>
  <div class="gallery-view">
    <div class="gallery-slide slide-tmc">
      <div class='inner'>
        <h3 class='title'>The TMC</h3>
        <p>
          HCC Coleman College for Health Sciences is a member institute of the 
          <a href="http://texasmedicalcenter.org" target="_blank">Texas Medical Center</a>.
        </p>
        <p>
          The Texas Medical Center is the world leader in patient care, research, education and prevention since 1945 and is the largest collection of hospitals and medical research and education institutions in the world.
        </p>
      </div>
    </div>
    <div class="gallery-slide slide-sacs">
      <div class='inner'>
        <h3 class='title'>SACS/HCC Student ID</h3>
        <p>Houston Community College and HCC Coleman College are accredited by the Southern Association of Colleges and Schools or SACS.</p>
        <p>Other area schools that have SACS accreditation include University of Texas, Texas A&M and University of Houston.</p>
        <p>Students interested in applying to a HCC Coleman program must have an Houston Community College student identification number.</p>
      </div>
    </div>
    <div class="gallery-slide slide-programs full">
      <div class='inner program-listing'>
        <h3 class='title'>HCC Coleman Programs</h3>
        <p>The programs at HCC Coleman College for Health Sciences are divided into six discipline groups:</p>
        <ul class='unstyled clearfix'>
          <li class='program nursing'>Nursing</li>
          <li class='program patient-care'>Patient Care Services</li>
          <li class='program therapeutic-services'>Therapeutic Services</li>
          <li class='program diagnostic-services'>Diagnostic Services</li>
          <li class='program health-care-admin'>Health Care &amp; Administration</li>
          <li class='program dental-services'>Dental Services</li>
        </ul>
        <p>Most students at HCC Coleman have three primary learning environments:  lecture, skills lab, both on-campus, and clinical placement, where students assist in health care practice, supervised by a licensed professional.</p>
      </div>
    </div>
    <div class="gallery-slide slide-placement-tests left">
      <div class='inner'>
        <h3 class='title'>Placement Tests</h3>
        <p>Students applying to an HCC Coleman College program may be required to take a placement test to gauge their ability to successfully complete their desired program.</p>
        <p>Students with no prior college experience are required to take the COMPASS test in reading, writing and mathematics.</p>
      </div>
    </div>
    <div class="gallery-slide slide-computer-skills">
      <div class='inner'>
        <h3 class='title'>Computer Skills</h3>
        <p>HCC Coleman College students are expected to be proficient in using computers, word processing applications and web browsers.</p>
        <p>Students seeking to improve their computer skills may take POFT 1329 (Beginning Keyboarding) or POFI 1301 (Computer Applications).</p>
      </div>
    </div>
    <div class="gallery-slide slide-background-check bottom">
      <div class='inner'>
        <h3 class='title'>Background Check</h3>
        <p>Once accepted into a program, students are required to have specific immunizations, criminal background checks and, for most programs, a social security number.</p>
        <p>If a student has a criminal record, they should contact their desired program’s certification board before applying to an HCC Coleman program.</p>
      </div>
    </div>
    <div class="gallery-slide gallery-quiz">
      <div class='inner'>
        <h1 class='title'>Review</h1>
        <%= simple_form_for :about_coleman_quiz, html: { data: { quiz_form: '', next_quiz: next_quiz_path('student_experience')}} do |f| %>
          <h2>Let's review</h2>

          <%= f.input :programs, label: "Which of the following is NOT one of the six discipline teams at HCC Coleman College for Health Sciences?",
                      as: :radio_buttons, collection: ['Nursing', 'Patient Care', 'Diagnostic', 'Physical Therapy'],
                      input_html: { data: { answer: 'Physical Therapy' }} %>
          
          <%= f.input :tmc, label: "HCC Coleman College is a member institution of the Texas Medical Center, the largest collection of hospitals and medical research facilities in North America.", 
                      item_wrapper_class: 'inline',
                      as: :radio_buttons, collection: ['True', 'False'],
                      input_html: { data: { answer: 'False' }} %>
          
          <%= f.input :computer_skills, label: "Students are required to be proficient in the use of computers, word processing applications and web browsers.",
                      item_wrapper_class: 'inline',
                      as: :radio_buttons, collection: ['True', 'False'],
                      input_html: { data: { answer: 'True' }} %>
          
          <%= f.input :ssn, label: "Upon acceptance into a program, students will be required to have specific immunizations and/or records, criminal background checks and, for most programs, a...",
                      as: :radio_buttons, collection: ['Drivers License #', 'Birth Certificate', 'Social Security #', 'None of the above'],
                      input_html: { data: { answer: 'Social Security #' }} %>
          
          <%= f.input :accreditation, label: "Both Houston Community College and HCC Coleman College for Health Sciences are accredited by which of the following?",
                      as: :radio_buttons, collection: ['Accrediting Bureau of Health Education Schools', 'SACS (Southern Association of Colleges and Schools)', 'Accrediting Commission of Career Schools and Colleges', 'None of the above'],
                      input_html: { data: { answer: 'SACS (Southern Association of Colleges and Schools)' }} %>
          
          <hr>
          <div class='actions'>
            <%= f.submit 'Continue &#x2192;'.html_safe, class: 'btn btn-primary' %>
            <small class='metadata'>( All responses must be correct before you can move on. )</small>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</section>