<header>
  <h1>Permissions for running Reports</h1>
  <p class='metadata'>
    These permissions pertain to which reports the employee is able to view.
  </p>
</header>

<%= simple_form_for @employee, url: employee_permission_path(@employee), html: { class: "form-permissions" } do |f| %>

  <%= hidden_field_tag :section, @section %>
  <%= hidden_field_tag :permission_group, 'All' %>
  
  <div class='control-group'>
    <div class='controls'>
      <%= f.select :permission_employee_can_view_audits,
          [["#{@employee.first_name} cannot", false], ["#{@employee.first_name} can", true]],
          { selected: @employee.can?(:audit, :all) },
          { name: 'permissions[all][audit]', data: { permission: 'audit' } } %> 
      <span><strong>view audit logs</strong></span>
    </div>
  </div>
  
  <div class='control-group'>
    <div class='controls'>
      <%= f.select :permission_employee_can_view_happiness_report,
          [["#{@employee.first_name} cannot", false], ["#{@employee.first_name} can", true]],
          { selected: @employee.can?(:view_happiness_report, Reports) },
          { name: 'permissions[all][view_happiness_report]', data: { permission: 'happiness_report' } } %> 
      <span><strong>view Happiness Report</strong></span>
    </div>
  </div>
  
  <div class='form-actions'>
    <%= f.button :submit, "Update Permissions", class: 'btn btn-primary' %> or <%= link_to 'list employees', employee_users_path %>
  </div>
<%- end -%>