<div class='time-for-change'>
  <h2>Please upgrade your browser...</h2>
  <p>
    HCC Coleman Connection was built using the latest web technologies and
    techniques meaning you get a better, faster and overall more awesome
    experience. Unfortunately, your browser doesn't support some of those
    techniques and technologies.
  </p>
  
  <p>
    Please download the current version of one of these great browsers to take
    full advantage of HCC Coleman Connection.
  </p>
  
  <hr>
  
  <div class='row-fluid browsers'>
    <div class='span2'>
      <span class='logo browser-ie9-logo'></span>
      <p>
        <%= link_to 'Internet Explorer', 'http://windows.microsoft.com/en-us/internet-explorer/products/ie/home' %><br>
        <small>Version 9+</small>
      </p>
    </div>
    
    <div class='span2'>
      <span class='logo browser-firefox-logo'></span>
      <p>
        <%= link_to 'Mozilla Firefox', 'http://getfirefox.com' %><br>
        <small>Version 10+</small>
      </p>
    </div>
    
    <div class='span2'>
      <span class='logo browser-chrome-logo'></span>
      <p>
        <%= link_to 'Google Chrome', 'https://www.google.com/intl/en/chrome/browser/' %><br>
        <small>Version 12+</small>
      </p>
    </div>
    
    <div class='span2'>
      <span class='logo browser-safari-logo'></span>
      <p>
        <%= link_to 'Apple Safari', 'http://www.apple.com/safari/' %><br>
        <small>Version 4+</small>
      </p>
    </div>
    
    <div class='span2'>
      <span class='logo browser-opera-logo'></span>
      <p>
        <%= link_to 'Opera', 'http://opera.com/download' %><br>
        <small>Version 11+</small>
      </p>
    </div>
  </div>
</div>