<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>HCC Coleman Connection</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="Online Enrollment system for HCC Coleman Connection" />
  <link href='//fonts.googleapis.com/css?family=News+Cycle:400,700|Old+Standard+TT:400,700,400italic'
  rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'common/analytics' if Rails.env.production? %>
</head>
<body>
  <%= render 'common/mast' %>
  <div class="container paper">
    <div>
      <%= render '/common/flash_messages' %><%= yield %>
    </div>
  </div>
  <%= render 'employee/common/audit_log' if @audits %>
  <%= render 'employee/common/keyboard_shortcuts' if current_user and current_user.kind_of?(Employee) %>
</body>
</html>
